<IfModule mod_rewrite.c>
    RewriteEngine On

    # Autoriser l'accès aux fichiers statiques (images, css)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger vers l'index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>